---
import "../styles/main.scss"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
title: string;
}

const { title } = Astro.props;
const elements = ["About", "Blogs" ,"Support"];
const quickLinks = ["About","Blogs", "Support"]
const copyright = "Astro Blog All Rights Reserved. &copy; 2022";
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>

<body>
    <div class="site-wrapper">
        <div>
            <Navbar elements={elements} />
        </div>
        <div class="container">
            <slot />
        </div>
        <footer class="footer">
            <Footer copyright={copyright} quickLinks={quickLinks} />
        </footer>
    </div>
</body>

</html>
